<div class="min-h-screen bg-black flex items-center justify-center font-mono relative overflow-hidden">

    <!-- Video de fondo -->
    <video autoplay muted loop playsinline
        class="absolute inset-0 w-full h-full object-cover opacity-10 grayscale sepia">
        <source src="bg-cyber.mp4" type="video/mp4">
    </video>

    <!-- Tarjeta Login -->
    <div class="relative z-10 w-full max-w-md p-8 border border-satus-bronce/20 bg-black/80 backdrop-blur-xl">
        <div class="text-center mb-8">
            <span class="text-[10px] text-satus-bronce tracking-[0.5em] uppercase">Security Gateway</span>
            <h2 class="text-2xl font-bold text-white mt-2">ACCESO A NODO</h2>
        </div>

        <form class="space-y-6">
            <!-- Campo Usuario / ID -->
            <div class="space-y-1">
                <label class="text-[9px] text-gray-500 uppercase tracking-widest">Usuario</label>
                <input type="text" name="email" [(ngModel)]="userCredentials.email" placeholder="User/Email"
                    class="w-full bg-transparent border-b border-white/10 p-2 text-satus-bronce outline-none focus:border-satus-bronce transition-all">
            </div>

            <!-- Campo Password -->
            <div class="space-y-1">
                <label class="text-[9px] text-gray-500 uppercase tracking-widest">Contraseña</label>

                <div class="relative w-full flex items-center">

                    <input [type]="showPassword ? 'text' : 'password'" name="password"
                        [(ngModel)]="userCredentials.password" placeholder="********"
                        class="w-full bg-transparent border-b border-white/10 p-2 text-satus-bronce outline-none focus:border-satus-bronce transition-all">
                    <button type="button" (click)="togglePassword()"
                        class="absolute right-2 bg-transparent border-none text-xs cursor-pointer outline-none p-1 transition-transform active:scale-95">
                        {{ showPassword ? '🕳️' : '👁️‍🗨️' }}
                    </button>

                </div>
            </div>

            <!-- Botón de Ingreso -->
            <button type="button" (click)="onLogin()"
                class="w-full bg-satus-report/10 border border-none py-3 text-xs uppercase tracking-[0.3em] text-satus-report hover:bg-satus-bronce/40 hover:text-black transition-all cursor-pointer font-mono">
                [ Ingresar ]
            </button>
        </form>

        <div
            class="mt-1.5 pt-1 flex flex-col items-center justify-center border-t border-white/5 pt-4 font-mono w-full">

            <!-- Contenedor para inyectar el botón oficial de GOOG por software -->
            <div id="googleBtnAnchor"></div>

        </div>

        <p class="mt-6 text-center text-[10px] text-gray-600 lowcase">
            Aun no tiene un nodo, <a routerLink="/register" class="text-satus-report underline">¡Registrese ya!</a>
        </p>

        <div class="mt-8 text-center">
            <a routerLink="/"
                class="text-[8px] text-gray-600 hover:text-satus-bronce transition-all uppercase tracking-widest">
                &lt; Volver al Inicio
            </a>
        </div>
    </div>
</div>