PORT=3000
STATE=dev

# CONFIG DB SATUS MONGO
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USERNAME=satus_admin_dev
MONGO_PASSWORD=615243
MONGO_NAME=satus_db_dev
MONGO_CONNECTION=mongodb

# AUTH
JWT_SECRET=615243
JWT_EXPIRES_IN=24h

# CIBERSEC API KEYS
VT_API_KEY=#API_KEY_DE_VIRUSTOTAL
AI_API_KEY=#API_KEY_DE_LA_IA
